@use "global" as *;

.heading {
  position: relative;
  font-size: rem(36);
  font-weight: $medium;
  padding-bottom: rem(17);
  letter-spacing: 0.05em;
  color: $green;
}

.heading::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: rem(34);
  height: rem(4);
  border-radius: rem(2);
  background-color: $green;
}

.heading.heading--center {
  @include mq("md") {
    text-align: center;
  }
}

.heading.heading--center::after {
  @include mq("md") {
    left: 50%;
    transform: translateX(-50%);
  }
}

