@use "global" as *;

.text {
  font-size: rem(16);
  letter-spacing: 0.05em;
  font-weight: $medium;
  line-height: calc(30 / 16);
  color: $green;
}

.text.text--large {
  font-size: rem(20);
  line-height: calc(36 / 20);
  @include mq("md") {
    font-size: rem(24);
    line-height: calc(44 / 24);
  }
}
